@font-face {
    font-family: "OngleleafSoup";
    font-weight: 300;
    font-style: normal;
    src: url("https://cdn.jsdelivr.net/gh/wefonts/OngleleafSoup/OngleleafSoup.woff2") format("woff2"),
         url("https://cdn.jsdelivr.net/gh/wefonts/OngleleafSoup/OngleleafSoup.woff") format("woff"),
         url("https://cdn.jsdelivr.net/gh/wefonts/OngleleafSoup/OngleleafSoup.ttf") format("truetype");
    font-display: swap;
}

.OngleleafSoup {
    font-family: "OngleleafSoup";
}
